In [1]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\User\group-challenge\projects\cleaning-data-checkpoint\output.csv")

In [2]:
df.drop(columns = ["StartDate", "Duration", "Location"] , inplace = True)

In [3]:
df = df.drop(df[df["JobDescription"].str.lower() == "unknown"].index)

In [4]:
df.shape

(15109, 13)

In [5]:
df.drop(columns=["JobRequirment", "JobDescription"], inplace= True)

In [6]:
df.shape

(15109, 11)

In [7]:
skills_exploded = df.explode("Matched_Skills")  # This converts each list of skills into individual rows.

skills_exploded = skills_exploded[
    skills_exploded["Matched_Skills"].notna() &
    (skills_exploded["Matched_Skills"] != "")
]


skill_counts = (
    skills_exploded["Matched_Skills"]
    .value_counts()
    .reset_index()
)

skill_counts.columns = ["Skill", "Count"]

In [8]:
skill_counts = skill_counts.sort_values("Count", ascending=False)

In [9]:
skill_counts.to_csv("skill_counts_tableau.csv", index=False)

In [10]:
df.head(10)

,PostNumber,Title,Company,Term,RequiredQual,AboutC,Year,Month,IT,Matched_Skills,Term_clean
0,1,others,ameria investment consulting company,unknown,"to perform this job successfully, an individu...",unknown,2004,1,False,"['budgeting', 'risk management']",other
2,3,others,caucasus environmental ngo network (cenn),unknown,"degree in environmentally related field, or 5...",The Caucasus Environmental NGO Network is a\r\...,2004,1,False,[],other
3,4,others,manoff group,unknown,"advanced degree in public health, social scie...",unknown,2004,1,False,[],other
5,6,others,boutique appollo,unknown,"candidates should be female, 2030 years old; ...",unknown,2004,1,False,[],other
6,7,accountant,osi assistance foundation - armenian branch of...,unknown,university degree in finance/ accounting; ...,unknown,2004,1,False,['tax'],other
9,10,others,american embassy yerevan\r\nannouncement numbe...,unknown,note: all applicants are instructed to addres...,unknown,2004,1,False,[],other
12,13,others,institute for sustainable communities (isc),unknown,masters degree with minimum of seven years of...,Water User Associations Support Program (WUASP...,2004,1,False,[],other
13,14,others,food security regional cooperation and stabili...,unknown,higher education and/or professional experien...,unknown,2004,1,False,[],other
17,18,others,"united nations development programme, armenia",unknown,minimum masters degree in economics; minimu...,unknown,2004,1,False,['web'],other
18,19,others,"counterpart international, inc.\r\ncounterpart...",unknown,"possession of personal vehicle, valid driver'...",unknown,2004,1,False,['databases'],other

In [11]:
# Remove all non-alphanumeric characters (except space), replace with a space, and convert to lowercase
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype(str) \
                     .str.replace(r'[^a-zA-Z0-9\s]', ' ', regex=True) \
                     .str.lower() \
                     .str.strip()
                     #.str.replace(r'\s+', ' ', regex=True) # Optional

In [12]:
df.to_csv("final_tableau.csv",  index=False)

In [13]:
df.columns

Index(['PostNumber', 'Title', 'Company', 'Term', 'RequiredQual', 'AboutC',
       'Year', 'Month', 'IT', 'Matched_Skills', 'Term_clean'],
      dtype='object')