In [2]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\User\group-challenge\projects\cleaning-data-checkpoint\output.csv")

# started working on the cleaned file, generated during Check point 3

In [3]:
df.head()

,PostNumber,Title,Company,Term,StartDate,Duration,Location,JobDescription,JobRequirment,RequiredQual,AboutC,Year,Month,IT,Matched_Skills,Term_clean
0,1,others,ameria investment consulting company,unknown,unknown,unknown,"Yerevan, Armenia",AMERIA Investment Consulting Company is seekin...,- Supervises financial management and administ...,"to perform this job successfully, an individu...",unknown,2004,1,False,"['budgeting', 'risk management']",other
1,2,others,international research & exchanges board (irex),unknown,unknown,3 months,"IREX Armenia Main Office; Yerevan, Armenia \r\...",unknown,unknown,bachelor's degree; master's is preferred; e...,The International Research & Exchanges Board (...,2004,1,False,[],other
2,3,others,caucasus environmental ngo network (cenn),unknown,unknown,Renewable annual contract\r\nPOSITION,"Yerevan, Armenia",Public outreach and strengthening of a growing...,- Working with the Country Director to provide...,"degree in environmentally related field, or 5...",The Caucasus Environmental NGO Network is a\r\...,2004,1,False,[],other
3,4,others,manoff group,unknown,unknown,unknown,"Manila, Philippines",The LEAD (Local Enhancement and Development fo...,- Identify gaps in knowledge and overseeing in...,"advanced degree in public health, social scie...",unknown,2004,1,False,[],other
4,5,software developer,yerevan brandy company,unknown,unknown,unknown,"Yerevan, Armenia",unknown,- Rendering technical assistance to Database M...,university degree; economical background is a...,unknown,2004,1,True,['sql'],other

In [4]:
df.drop(columns = ["StartDate", "Duration", "Location"] , inplace = True)

# As per the comments received during the Check point 3, dropping more columns and keeping only those which are needed for my analysis. This will help reduce the file size.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PostNumber      19001 non-null  int64
 1   Title           19001 non-null  object
 2   Company         19001 non-null  object
 3   Term            19001 non-null  object
 4   JobDescription  19001 non-null  object
 5   JobRequirment   19001 non-null  object
 6   RequiredQual    19001 non-null  object
 7   AboutC          19001 non-null  object
 8   Year            19001 non-null  int64
 9   Month           19001 non-null  int64
 10  IT              19001 non-null  bool
 11  Matched_Skills  19001 non-null  object
 12  Term_clean      19001 non-null  object
dtypes: bool(1), int64(3), object(9)
memory usage: 1.8+ MB

In [6]:
count_unknown = (df["JobDescription"].str.lower() == "unknown").sum()

print(count_unknown)

# Deleting  rows with Job description as unknown.

3892

In [7]:
df = df.drop(df[df["JobDescription"].str.lower() == "unknown"].index)

In [8]:
df.shape

(15109, 13)

In [9]:
df.drop(columns=["JobRequirment", "JobDescription"], inplace= True)

In [10]:
df.shape

(15109, 11)

In [11]:
df

,PostNumber,Title,Company,Term,RequiredQual,AboutC,Year,Month,IT,Matched_Skills,Term_clean
0,1,others,ameria investment consulting company,unknown,"to perform this job successfully, an individu...",unknown,2004,1,False,"['budgeting', 'risk management']",other
2,3,others,caucasus environmental ngo network (cenn),unknown,"degree in environmentally related field, or 5...",The Caucasus Environmental NGO Network is a\r\...,2004,1,False,[],other
3,4,others,manoff group,unknown,"advanced degree in public health, social scie...",unknown,2004,1,False,[],other
5,6,others,boutique appollo,unknown,"candidates should be female, 2030 years old; ...",unknown,2004,1,False,[],other
6,7,accountant,osi assistance foundation - armenian branch of...,unknown,university degree in finance/ accounting; ...,unknown,2004,1,False,['tax'],other
...,...,...,...,...,...,...,...,...,...,...,...
18992,18993,others,macadamian ar cjsc,unknown,2 5 years of experience in software developm...,Macadamian AR is a global software development...,2015,12,True,"['java', 'javascript', 'web']",other
18995,18996,others,transport piu state institution of the ra mini...,unknown,"university degree in civil engineering, econo...","The ""Transport PIU"" SI (PIU) of the RA Ministr...",2015,12,False,[],other
18996,18997,others,technolinguistics ngo,Full-time,at least 5 years of experience in interface/ ...,As a company Technolinguistics has a mandate t...,2015,12,False,"['java', 'javascript', 'html', 'css', 'web', '...",full time
18999,19000,others,san lazzaro llc,unknown,at least 1 year of experience in online sales...,San Lazzaro LLC works with several internation...,2015,12,False,[],other
19000,19001,lawyer,kamurj uco cjsc,Full-time,higher legal education; master's degree is a ...,"""Kamurj"" UCO CJSC is providing micro and small...",2015,12,False,['databases'],full time

In [12]:
df.columns

Index(['PostNumber', 'Title', 'Company', 'Term', 'RequiredQual', 'AboutC',
       'Year', 'Month', 'IT', 'Matched_Skills', 'Term_clean'],
      dtype='object')

In [13]:
df["RequiredQual"] = df["RequiredQual"].fillna("").str.lower()

In [ ]:
# This is a an upadte from the check point three. Here instead of just checking the skills and saving them to the a new column, I am created an new column for each skill and using an flag to indicate if the skill is present in for that role. 
# I had to alter the approach because the vizzs are more clear like this.

In [14]:
skills_list = ["python", "java", "c++", "javascript", "php", "core java","html", "css", "web", "apis", "rest services","data structures", "sql", "nosql", "databases",
                "git", "github","software development lifecycle", "testing", "agile", "scrum", "waterfall","financial reporting", "gaap", "ledger", "tax", "bookkeeping", 
                "budgeting", "risk management","quickbooks", "sap", "oracle","legal research", "contract drafting", "litigation procedures", "case management systems"]
for skill in skills_list:
    col_name = skill.replace(" ", "_").replace("+", "plus")
    df[col_name] = df["RequiredQual"].str.contains(skill, regex=False).astype(int)

In [15]:
skill_counts = (
    df[[skill.replace(" ", "_").replace("+", "plus") for skill in skills_list]]
    .sum()
    .reset_index()
)

skill_counts.columns = ["Skill", "Count"]

In the below code, removing all kind of delimiters from the file, because Tableau treated them as a field separator and created multiple columns and rows.

In [16]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype(str) \
                     .str.replace(r'[^a-zA-Z0-9\s]', ' ', regex=True) \
                     .str.lower() \
                     .str.strip()

In [17]:
df.to_csv("jobs_with_skill_flags.csv", index=False)

In [ ]:
# new file generted.
# I also used data source filters in the Tableau to filter down the data for creating the vizualitions.